.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:100vw;
    min-height:920px;
    height:fit-content;
    margin-top: 250px;
    overflow-y: hidden;
}
.imageContainer{
    position:relative;
    width:100%;
    height:100%;
    max-width: 700px;
    max-height: 700px;
    margin: 0px auto auto auto;
    place-self: end;
}
.block1{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}
.title{
    color:#38b6ff;
    font-size: 2rem;
    font-weight: bold;
}
.subTitle{
    color:#000;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}
.offreContainer{
    display: flex;
    flex-direction: column;
    width:90%;
    height:100%;
    position: relative;
    margin-top: 50px;
    padding: 20px 60px; 
}

.offreContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(140, 82, 255, 1) 0%, rgba(92, 225, 230, 1) 100%);
    opacity: 0.7;
    z-index: -1;
    border-radius: 20px;
  }
  .offreTitle{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color:#00214d;
    text-transform: uppercase;
  }
  .offreDesc{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 5px;
    color:#000
  }
  .dote{
    width:5px;
    height:5px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 20px;
  }

  @media (max-width:920px){
    .container{
      grid-template-columns: 100%;
      margin-top: 150px;
    }
    .imageContainer{
      width:300px;
      height:300px;
      margin-top: 70px;
      place-self: center;
    }
    .title{
      font-size: 1.5rem;
    }
    .subTitle{ 
        font-size: 1rem;
    }
    .offreContainer{
      padding: 20px; 
  }
  }
