.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:100vw;
    margin-top: 50px;
}

.imageContainer{
    width:75%;
    height:75%;
    position: relative;
    margin: auto;
    place-self: center;
    max-width: 700px;
}

.title{
    color:#38b6ff;
    font-weight: bold;
    font-size: 2.7rem;
    text-align: left;
    width:80%;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:89%;
    padding: 70px 70px 70px 0px;
}

.subTitle{
    color:#00214d;
    font-weight: 300;
    font-size: 1.1rem;
    width:80%;
    min-width: 500px;
    margin: 40px 0px 20px 0px;
    line-height: 35px;
}

.iconContainer{
    position: relative;
    width:80px;
    height:80px;
    margin: auto;
    place-self: center;
}

.containerSlogan{
    display: flex;
    width:80%;
    min-width: 500px;
    justify-content: space-between;
    min-width: 500px;
    margin-top: 40px;
}
.slogan{
    color:#38b6ff;
    margin-top: 10px;
}

@media (max-width:1441px){
    .title {
      font-size: 2.2rem;
    }
    .subTitle {
      font-size: 1rem;
    }
    .textContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        padding: 0px;
    }
  }

@media (max-width:920px){
    .container{
        grid-template-columns: 100%;
    }
    .imageContainer{
        width:300px;
        height:300px;
    }
    .textContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        padding: 30px;
    }
    .title{
        font-size: 1.9rem;
        padding: 0px;
        width:100%;
        text-align: center;
    }
    .containerSlogan{
        min-width: 250px;
        width:100%
    }
    .subTitle{
        min-width: 0px;
        width:100%;
        text-align: center;
        font-size: 1rem;
        line-height: 32px;
        margin: 30px 0px 10px 0px;
    }
    .iconContainer{
        width:60px;
        height:60px
    }
    .slogan{
        font-size: 0.9rem;
    }
}